.Slider-wrap {
  height: 40px;
}

.A_SliderSpecial {
  img {
    position: absolute;
  }
  &[type='range'] {
    transform: translateY(-34px);
    -webkit-appearance: none;
    width: 240px;
    background-color: var(--dark);

    &::-webkit-slider-runnable-track {
      height: 4px;
      background: var(--dark);
      border: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: solid 4px var(--dark);
      background: var(--lightFade);
      margin-top: -18px;
      cursor: pointer;
      &:hover {
        border: solid 8px var(--dark);
        transition: 0.2s;
      }
    }
  }
}
