.Q_Icon {
  &.neutralTick {
    background-image: url('../../images/neutralTick.svg');
    width: 18px;
    height: 12px;
  }
  &.greenTick {
    background-image: url('../../images/greenTick.svg');
    width: 18px;
    height: 12px;
  }
  &.redCross {
    background-image: url('../../images/redCross.svg');
    width: 12px;
    height: 12px;
  }
  &.arrow-left {
    background-image: url('../../images/Q_ArrowLeft.svg');
    width: 14px;
    height: 26px;
  }
  &.arrow-right {
    background-image: url('../../images/Q_ArrowRight.svg');
    width: 14px;
    height: 26px;
  }
}

.Q_Icon.redCross {
  background-image: url('../../images/redCross.svg');
  width: 12px;
  height: 12px;
}
