.A_OrginalFont {
  background: #d9d9d9;
  border: 6px solid #d9d9d9;
  border-radius: 20px;
  text-align: center;
  width: 427px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(160px, 160px);
  margin: 0;
  user-select: none;
  p {
    margin: 0;
    color: #7b7b7b;
    font-size: 48px;
    line-height: 0;
  }
}

.A_OrginalFont.correct {
  border: solid 6.41px var(--darkGreen);
  background-color: var(--lightGreen);
  p {
    color: var(--darkGreen);
  }
}
