.O_Slider {
  position: relative;
  width: 700px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.O_Slider .W_SliderFrame {
  width: 700px;
  border: 1px solid var(--border);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.O_Slider .C_SliderRail {
  display: flex;
  transition: transform 0.3s;
}

.O_Slider .Q_SliderImage {
  width: 700px;
}
