* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body.basic {
  margin: 0;
  background-color: var(--middle);
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-weight: 400;
  padding-left: 220px;
  padding-right: 220px;
}
