// @font-face {
//   font-family: 'Inter';
//   src: url('fonts/inter-regular.ttf');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-LightIt.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-RegularIt.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-SemiboldIt.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('fonts/ProximaNova-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni-Moda';
  src: url('fonts/BodoniModa_9pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'EB-Garamond';
  src: url('fonts/EBGaramond-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('fonts/Merriweather-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto-Serif';
  src: url('fonts/NotoSerifDisplay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Old-Standart-TT';
  src: url('fonts/OldStandardTT-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT-Serif';
  src: url('fonts/PTSerif-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Slab';
  src: url('fonts/RobotoSlab-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('fonts/VollkornSC-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
