:root {
  --light: #f2f9ff;
  --halflight: #dff6fd;
  --medium: #49a6db;
  --dark: #083a66;
  --border: #c2f0ff;
  --lightFade: linear-gradient(180deg, #dff6fd 0%, #93d7ed 100%);
  --darkFade: linear-gradient(180deg, #105694 0%, #063055 100%);
  --darkGreen: #0a6608;
  --lightGreen: #94ff8b;
  --darkRed: #660808;
  --lightRed: #ff8b8b;
}
