.M_SliderController {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;
}

.M_SliderController .С_MeatBalls {
  display: flex;
}

.M_SliderController .Q_Icon {
  width: 14px;
  height: 26px;
}
